@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Admin Registration - Web CMS</title>
    <link rel="icon" type="image/x-icon" href="@Web_CMS.HelperClass.Helper.ToAbsoluteUrl("Areas/favicon.ico")" />
    <link rel="stylesheet" type="text/css" id="theme" href="@Web_CMS.HelperClass.Helper.ToAbsoluteUrl("Areas/Admin/css/theme-default.css")" />
    <link rel="stylesheet" type="text/css" id="theme" href="@Web_CMS.HelperClass.Helper.ToAbsoluteUrl("Areas/Admin/css/Custom.css")" />
    <style>
        html, body {
            background: none !important;
        }
    </style>
</head>
<body>
    <div class="col-lg-8 center-block pull-none">
        <div class="panel panel-default mb0">
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title"><strong>New User </strong>  Registration</h3>
            </div>
            @using (Html.BeginForm("Registration", "Admin", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="form-group pt20">
                        <label class="col-md-3 col-xs-12 control-label align-right pt7">First Name</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control form-group" required="" name="FirstName">
                                @*Getting value by name and the name should be the name given in database column*@
                            </div>
                            <span class="help-block">First Name field sample</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label align-right pt7">Last Name</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control form-group" required="" name="LastName">
                                @*Getting value by name and the name should be the name given in database column*@
                            </div>
                            <span class="help-block">Last Name field sample</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label align-right pt7">User Name</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control form-group" required="" name="UserName">
                                @*Getting value by name and the name should be the name given in database column*@
                            </div>
                            <span class="help-block">User Name field sample</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label align-right pt7">Email Id</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control form-group" required="" name="EmailId">
                                @*Getting value by name and the name should be the name given in database column*@
                            </div>
                            <span class="help-block">Email-Id field sample</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label align-right pt7">Password</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                <input type="password" class="form-control" required="" name="Password">
                            </div>
                            <span class="help-block">Password field sample</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label align-right pt7">Gender</label>
                        <div class="col-md-6 col-xs-12">
                            <label class="radio-inline"><input type="radio" checked="checked" value="Male" name="Gender">Male</label>
                            <label class="radio-inline"><input type="radio" value="Female" name="Gender">Female</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="panel-footer">
                    <input type="reset" value="Clear Form" name="btnReset" class="btn btn-default" />
                    <input type="submit" id="btnSubmit" name="btnSubmit" value="Submit" class="btn btn-primary pull-right" />
                </div>
            }
        </div>
    </div>
</body>
</html>
